<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">メイン</li>
  <!-- Optionally, you can add icons to the links -->
  <% if request.path_info == messages_path %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to messages_path do %>
      <i class="fa fa-link"></i> <span>メッセージ一覧</span>
    <% end %>
  </li>
  <% if request.path_info == schedules_path %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to schedules_path do %>
      <i class="fa fa-calendar"></i> <span>スケジュール一覧</span>
    <% end %>
  </li>
  <% if request.path_info == favoriting_tweets_path %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to favoriting_tweets_path do %>
      <i class="fa fa-calendar"></i> <span>お気に入りツイート一覧</span>
    <% end %>
  </li>
  <% if request.path_info == twitter_accounts_path %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to twitter_accounts_path do %>
      <i class="fa fa-calendar"></i> <span>アカウント一覧</span>
    <% end %>
  </li>
  <% if request.path_info == tweet_histories_path %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
    <%= link_to tweet_histories_path do %>
      <i class="fa fa-calendar"></i> <span>ツイート履歴</span>
    <% end %>
  </li>
</ul>
<!-- /.sidebar-menu -->
